@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital,wght@0,400;1,400&display=swap');

:root {
  font-family: 'IM Fell Double Pica', serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: #000;
  background-color: #fff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #000;
  }
}